@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}



/* header start */

#header-text-jood{
    color: white;
    font-weight: bold;
    

}
#punkt-header{
    color: #FFBB00;

}

#padding-all-page{
    padding-right: 50px;
    padding-left: 50px;
}

#id-first-section1 {
    margin-right: 0%;
    margin-left: 0%;
}

#header-147-258{
    background-color: inherit;
    border: none;
}

#card-header-147-258{
    background-color: inherit; 
    border:none;

}
#my-li-header-147-258{
    color: white;
}











.second-part-first-section{
    padding-bottom: 15% !important;
    padding-top: 15% !important;
 padding-right: 0 !important;

}

div.first-section-image1 {
    position: relative;
    width: 250px;
    height: 200px;
    
   
  } 
  
  div.first-section-image2{
    position: absolute;
    top: 80px;
   right: 100px;
    width: 200px;
    height: 100px;

   
  }
 
    .first-section {
       
        background-image: url('/demo2/images/blue_background_crop\ \(1\)secound.png') ;

        

        padding-bottom: 200px;

        background-repeat: no-repeat;


      
      }

.card-header-back{
    background-color: none;
    margin-left: 50%; 
    margin-top: 20%;
    
}


.card-title-header{
    color: white;
    font-weight: bold;
}

.card-text-header{
    color: white;
    font-size: 11px;
}
#card-link-button1{
    background-color: none;
    color: white;
    
    
}
#card-link-button2{
    background-color: none;
    color: white;
    
}
.fa-play {
    background: #FFBB00;
    color: white;
}
.fa {
    padding: 7px;
    font-size: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


#design-phones-header{
    padding: 2%;
    margin-left: 15%;
    margin-top: -10%;
}
#get-the-app{
    background-color: #FFBB00;

}

.card-header-back{
    margin-top: -5%;
    
}

/* header finish */




/* first section start */

#id-first-section1{
    margin-right: 15%; 
    margin-left: 15%;
}


.grid-ecutbildning {
    display: grid;
    grid-template-columns: auto auto ;
   
    
    padding: 10px;
  }
  
  .grid-ecutbildning > div {
  
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

#button-1-2-3{
    background-color: #FFF5D9;
    color: #FFBB00;
    font-size: 11px;
    margin-bottom: 5%;
}
.card-title{
    font-weight: bold;
}
.card-text{
    font-size: 10px;

}

#easy-to-search{
    display: flex;
    
}
#easy-to-search-btn1{
    background-color: #F8F8F8;

}

#easy-to-search-btn2{
    background-color: #F8F8F8;
}



/* first section finish */

/* section 2 start */


#card-card-654{
    border: none;
}

#cool-card-654-1{
    display: flex;
    
}

#cool-card-654-2{
    display: flex;
    margin-left: -5%;
}

#border-card-none-1{
    border: none;


}

.card-title-654-1{
    font-weight: bold;
}
#img-img-654{
    margin: 0;
}

#img-orange-654 img {
    align-items: center;
    padding-top: 25px;
    width: 50px;

}

.grid-knappar-sec-2 {
    display: grid;
    grid-template-columns: auto auto;


    padding: 10px;
}

.grid-knappar-sec-2 > div {

    text-align: center;

    font-size: 30px;
}

@media screen and (max-width: 700px) {
    .grid-knappar-sec-2 {
        display: grid;
        grid-template-columns: auto;


        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .grid-knappar-sec-2 {
        display: grid;
        grid-template-columns: auto;


        padding: 10px;
    }
}



/* section 2 finish */


/* section 3 start */

#livar-nissan-btns a{
    color: #3096FE;
    border: none;
    


}
#text-color{
    font-weight: bold;
}
#our-color-black{
    color: black;
}



/* section 3 finish */


/* section 4 start */

#ddd-sss-aaa{
    background-image: url(/demo2/images/bluebackg.png);
    background-repeat: no-repeat;
     background-size: cover;
    
}


#background-img{
    
    padding: 5%;
    width: 100% !important;
    

}

#title-text-sec-4{
    color: white;
    font-weight: bold;
}

#normal-text-sec-4{
    color: white;
    font-size: 11px;
}

#my-backg-none1{
    background-color: inherit;
    border: none;

}
#my-backg-none2{
    background-color: inherit;
    

}


/* button start */

#sociaö-media-btn-sec4{
    display: flex;
    list-style: none;
    margin: 0% 1%;
}
.app-btn{
    color: black;
    border-radius: 5px;
    padding: 1% 5%;
    margin: 2%;
}

.app-btn i{
   
    
    margin-right: 20px !important;
}

.blu{
    background-color: white;
}
.big-txt{
    font-weight: bold;
    font-size: 12px;
}

#small-text{
    font-size: 6px;
}



/* button finish */


/* section 4 finish */




/* section 5 start */


#style-text{
    font-weight: bold;
}

#contact-us{
    margin: 5%;
    padding: 15%;
}

.row-sec-5-5{
    margin: 1%;
    padding: 1%;
}

.form-group-sec-5{
    margin: 1%;
    padding: 2%;
}

#button-send{
    margin: 1% 35%;
    padding: 1% 10%;
    
}









/* section 5 finish */





/* section 6 start */













/* section 6 finish */






/*  */
#list-group-bottons {
    border: none;
    padding-right: 10%;
    font-size: 12px;
}







/*  */





/* footer start */
footer{
    margin: 0;
    padding: 0;
    background-color:  #1487FD;
}
#footer-text{
    margin: 0 10rem;
    padding: 2%;
    color: white;
    font-weight: bold;

    
}

#punkt{
    color: #FFBB00;
}

#footer-list a{
    color: white;

}
#socialmedia{
    padding: 2%;
}

#socialmedia >ul{
    display: flex;
    list-style: none;
    margin: 0% 17%;
}

#socialmedia > ul >li{
    margin: 0 1rem;

}

#socialmedia > ul >li a{
    color: white;
}

.card-text-footer-3{
    padding: 2%;

}


/* footer finish */


@media screen and (max-width: 992px) {

    div.first-section-image1 {
        position: relative;
        width: 200px;
        height: 150px;

    }

    div.first-section-image1 img {

        margin: 0;
    }

    div.first-section-image2 img {

        margin: 0;
    }

    div.first-section-image2 {
        position: absolute;
        top: 80px;

        width: 200px;
        height: 100px;

    }

    .grid-ecutbildning {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }

    #magi-image-bkcirkel img {

        margin: 0%;
        background-color: yellow;
    }

}


@media screen and (max-width: 700px) {

    div.first-section-image1 {
        position: relative;
        width: 200px;
        height: 150px;
    }

    div.first-section-image2 {
        position: absolute;
        top: 80px;

        width: 150px;
        height: 100px;

    }


    #design-phones-header {
        margin-top: 50px;
    }
}
